
<p> Welcome, <%= current_user.username %>.  Please select a post to view or create a 
<input type="button" onclick="window.location.href='/posts/new';" value="New Post" /></p>
<% Post.all.each do |post| %>
     <p><%= post.artist %>  <%=post.title%>
       <input type="button" onclick="window.location.href='/posts/<%=post.id%>';" value="View Post" /></p>
<% end %>
