


<nav>
  <% if logged_in? %>
    <p>Welcome, <%=current_user.username %></p>

    <input type="button" onclick="window.location.href='/posts/new';" value="New Post" />
    <input type="button" onclick="window.location.href='/logout';" value="Logout" />

    
    

  <% else %>
    <h3>Welcome to Setlist</h3>
    <p>Please Sing Up or Log In:</p>

    <input type="button" onclick="window.location.href='/signup';" value="Sign Up" />&nbsp
    <input type="button" onclick="window.location.href='/login';" value="Log In" />
    
  <%end %>

</nav>