
<%# <h1><img src="public/images/corneal-small.png" alt="Not Found"></h1>  %>
<p> WOW, I have NO idea how we got here! (Okay, maybe I do) </p> 
<p>Click the button and let's get out of here -->> <input type="button" onclick="window.location.href='/posts';" value="Outta Here" /></P>
